#about{

  height:auto;
  width:100%;
  background:#F9F9F9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  padding:2rem;

}

#about .section-a{

  height: 50vh !important;
  width: 50vw !important;
  margin: 0 auto !important;


}

#about .section-a, .section-b{

  width:100%;

}

#about .section-a img{
  width: 100%;
}


#about .section-b{background: none;}

#about .section-b .skills{

  height:80%;
  background: none;
  width:100%;
  position: relative;
  top:4rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:3px;
  animation-duration: 1.8s;

}

 @keyframes showSkills{from{top:50rem;} to{top:4rem;}}

#about .section-b .bio{

  height:100%;
  background: none;
  position: relative;
  top:10%;
  padding:1.8rem;
  overflow: scroll;
  text-align: center;


}

#about .section-b .bio h1{

  font-family: var(--main-font);
  font-weight: 800;
  position: relative; left:0;
  animation-name: slideLeft;
  animation-duration: 1.8s;
}

@keyframes slideLeft{

  from{
    left:1000px;
    }
    to{
      left: 0;
    }


}


#about .section-b .bio p{

  font-family: var(--little-font);
  font-size: 1.3rem;
  position: relative;
  top:1.1rem;

}

#about .section-b .bio .name{

  position: relative; top:-1.4rem;

}



#about .section-b .bio .description{

  position: relative;
  top:50px;
  /*animation-name: descriptionSlide;*/
  animation-duration: 1.8s;

}

@keyframes descriptionSlide{

  from{top:1000px;}
  to{top:50px;}

}

#about .section-b .bio .description{text-align: justify;}

#about .section-b .skills .skill-listing{background: none;}

#about .section-a img{

height:100%;
width:100%;
position: relative;
animation-name: slideToRight;
animation-duration: 1.5s;

}

@keyframes slideToRight{from{right:1000px;} to{right:0;}}

@media(min-width:768px){

  #about .section-b .skills{

    position: relative;


  }


}

@media(max-width:600px){

#about{

  grid-template-columns: 1fr;
  position: relative;
  height:900px;


}

#about .section-a{

  height:30vh;
  position: relative;
  margin: none !important;


}

#about .section-b{

  background: #F9F9F9;
  position: relative;
  top:-25%;
  height: 40vh;

}

#about .section-b .skills{

  height: 30vh;
  background: none;
  position: relative;
  top:20%;
  grid-template-columns: 1fr 1fr;


}

#about .section-b .skills .skill-listing{background: none; height: auto;}





}

@media(max-width: 320px){

    #about{

      grid-template-columns: 1fr;
      margin-bottom: 50vh;

    }

    #about .section-a{

      margin-bottom:20vh;

    }

    #about .section-a, .section-b{

      height: 40vh;

    }

    #about .section-b{

      height: 80vh;

    }

    #about .section-b .skills{

      height:0;
      top:10%;
      animation-duration: 2s;
      margin-bottom: 10vh;
      background: yellow !important;

    }

    #about .section-b .skills i{

      font-size: 3rem !important;

    }

     @keyframes showSkills{from{top:20rem;} to{top:4rem;}}

      #about .section-b{

        height: 100vh;


      }

     #about .section-b .bio .name{

       font-size: 2rem;

     }

     #about .section-b .bio h1{

       top:-1.5rem;

     }

     #about .section-b .bio .description{

       font-size: 1.3rem;
       top:0.5rem;

     }

     .social-media-panel i{

       font-size: 3rem !important;
       margin: 0.5rem;

     }


}

@media(min-width: 375px){


  #about{

    grid-template-columns: 1fr;
    margin-bottom: 80vh;


  }

  .social-media-panel i{

    font-size: 3rem !important;

  }

  #about .section-a{

    height: 80vh;

  }



  #about .section-b{

    height: 30vh;
    top:5%;

  }

  #about .section-b .skills{

    height:0;
    animation-duration: 2s;
    top:-10%;

  }

  #about .section-b .skills i{

    font-size: 4rem !important;


  }

   @keyframes showSkills{from{top:20rem;} to{top:4rem;}}

    #about .section-b{

      height: 100vh;


    }

   #about .section-b .bio .name{

     font-size: 2rem;

   }

   #about .section-b .bio h1{

     top:-1.5rem;

   }

   #about .section-b .bio .description{

     font-size: 1.2rem;
     top:0.5rem;

   }

   #about .section-b .skills {




   }



   #about .section-b .skills i{

    font-size: 2.5rem;

   }




 }


@media(min-width:768px){

  #about .section-b .skills i{

   font-size: 4.5rem;

  }

  #about .section-b .bio .description{

    font-size: 1.8rem;
    top:0.5rem;

  }




}

@media(min-width:1200px){

  #about{

    grid-template-columns: 1fr;
    margin-bottom: 0;

  }

  #about .section-b .bio .description{

    font-size: 2rem;
    top:0.5rem;

  }

  #about .section-b .skills{

    height:0;
    top:-35%;
    animation-duration: 2s;

  }

  .social-media-panel i{

    font-size: 5rem !important;

  }


}
