#about{

  height:auto;
  width:100%;
  background:#F9F9F9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  padding:2rem;

}

#about .section-a, .section-b{

  width:100%;
  height:100vh;

}

#about .section-b{background: none;}

#about .section-b .skills{

  height:80%;
  background: none;
  width:100%;
  position: relative;
  top:4rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:3px;
  animation-name: showSkills;
  animation-duration: 4s;

}

 @keyframes showSkills{from{top:50rem;} to{top:4rem;}}

#about .section-b .bio{

  height:100%;
  background: none;
  position: relative;
  top:10%;
  padding:1.8rem;
  overflow: scroll;
  text-align: center;


}

#about .section-b .bio h1{

  font-family: var(--main-font);
  font-weight: 800;
  position: relative; left:0;
  animation-name: slideLeft;
  animation-duration: 0.7s;
}

@keyframes slideLeft{

  from{
    left:1000px;
    }
    to{
      left: 0;
    }


}


#about .section-b .bio p{

  font-family: var(--little-font);
  font-size: 1.3rem;
  position: relative;
  top:1.1rem;

}

#about .section-b .bio .description{

  animation-name: slideUp;
  animation-duration: 2s;

}

@keyframes slideUp{from{top:1000px;} to{top:1.1rem;}}

#about .section-b .bio .description{text-align: justify;}

#about .section-b .skills .skill-listing{background: none;}

#about .section-a img{

height:100%;
width:100%;

}

@media(max-width:600px){

#about{

  grid-template-columns: 1fr;
  position: relative;
  height:900px;


}

#about .section-a{height:30vh; position: relative;}

#about .section-b{background: #F9F9F9; position: relative; top:-25%;}

#about .section-b .skills{

  height: 30vh;
  background: none;
  position: relative;
  top:20%;
  grid-template-columns: 1fr 1fr;


}

#about .section-b .skills .skill-listing{background: none; height: auto;}





}
