#contact{

  background: #F9F9F9 !important;
  height: auto;
  width:100%;

}

#contact .showcase{

  width:100%;
  height:70%;
  background: none;
  padding:2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:3px;

}

#contact .showcase .section-a, .section-b{

  height:50vh;
  width:100%;
  background: none;

}

#contact .showcase .section-a .text{

  position: relative;
  top:20%;
  padding:2.5rem;
  animation-name: slideRight;
  animation-duration: 1.5s;


}

@keyframes slideRight{from{left:1000px;} to{left:0;}}

#contact .showcase .section-a  h1{font-family: var(--main-font); font-weight: 800;}

#contact .showcase .section-a p{

font-family: var(--little-font);
font-size: 1.3rem;
position: relative;
top:1.1rem;

}

#contact .contact-details{

  height:10vh;
  width:100%;
  background: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:3px;
  position: relative;
  top:5%;
  font-family: var(--little-font);
  margin-bottom: 15%;
  padding:10%;


}


#contact .contact-details div{

  padding:5%;


}

@keyframes slideUp{

  from{top:500px;}
  to{top:0;}

}

#contact .contact-details .item-1{

  animation-name: slideUp;
  animation-duration: 1s;

}

#contact .contact-details .item-2{

  animation-name: slideUp;
  animation-duration: 1.25s;

}

#contact .contact-details .item-3{

  animation-name: slideUp;
  animation-duration: 1.5s;

}

#contact .map-api{

  width: 100%;
  height:55vh;
  background: none;

}

@media(max-width: 600px){

#contact .showcase{grid-template-columns: 1fr;}

#contact .showcase .section-a h1{text-align: center;}

#contact .showcase .section-a p{

  position: relative;
  top:4rem;

}

#contact .contact-details{

  grid-template-columns: 1fr;
  text-align: center;
  position: relative;
  top:-30vh;
  height: auto;

}

}

@media(min-width: 768px){

  #contact .showcase{

    padding:10%;

  }


  #contact .contact-details{


    background: yellow !important;
    height: 100%;



  }

  .item-1{

    background: blue;

  }

  .item-2{

    background: green;

  }

  .item-3{

    background: red;

  }

  .map-api{

    background: orange !important;

  }

}
