footer{


  background: none;
  height:auto;
  width:100%;
  position: relative;
  padding:15%;
  margin-bottom: 5%;


}

footer .social-media-panel{


  margin: 0 auto;
  height:100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


}

footer .social-media-panel .fab{


  position: relative;
  top:2rem;
  margin: 0 auto !important;
  color:black;


}

footer .social-media-panel a:hover .fa{

  transition: 0.5s ease;
  color:grey;s

}

@media(max-width:600px){




}



@media(min-width: 375px){

  footer{

    height: 10vh;
    padding:1rem;



  }

  footer .social-media-panel i{

    font-size: 4.5rem;
    top:1rem !important;
    position: relative;

  }


 }
