main{

  margin-left:5vw;
  margin-right:5vw;
  height:auto;

}

main .header-showcase{

  height:65vh;
  width: 100%;
  background: #F9F9F9 !important;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

main .header-showcase .caption{

  position: relative;
  top:25%;
  margin-left:5vw;
  margin-right:5vw;
  font-family: var(--main-font);
  height: 40vh;

}

main .header-showcase .section-a{background: none;}

main .header-showcase .section-b{background: none;}

main .header-showcase .section-b .image{

  height: 100%;
  width: 80%;
  margin: 0 auto;

}

main .header-showcase .section-b .image img{

  height: 100%;
  width: 100%;
  padding: 2%;
  position: relative;
  animation-name: blogImageSlideIn;
  animation-duration: 1.5s;

}

@keyframes blogImageSlideIn {

  from{left:500px;}
  to{left:0;}

}

main .header-showcase .section-a h1{

  font-weight: 800;
  position: relative;
  right:0;
  animation-name: slideIn;
  animation-duration: 1.5s;
  color:black;
  font-size: 2.5rem;

}

@keyframes slideIn{
  from{
    right: 1000px;
  }
  to{
    right:0px;
  }
}

main .header-showcase .section-a p{

  position: relative;
  top:2.4rem;
  font-size: 1.3rem;
  font-family: var(--little-font);
  animation-name: showcaseSlide;
  animation-duration: 2.8s;

}

@keyframes showcaseSlide{
  from{
    top: 1000px;
  }
  to{
    top: 2.4rem;
  }
}

main .projects-showcase{


  height:auto;
  width:100%;
  background: #F9F9F9 !important;
  margin-bottom: 5vh;
  position: relative;


}

main .projects-showcase .container{


  height:auto;
  width:100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap:1.5rem;
  animation-name: showProjects;
  animation-duration: 2.4s;
  position: relative;


}

.project-item-1{

  grid-column-start: 1;
  grid-column-end: 7;

}

.project-item-2{

  grid-column-start: 1;
  grid-column-end: 7;


}

.project-item-3{

  grid-column-start: 1;
  grid-column-end: 7;



}

.project-item-4{

  grid-column-start: 1;
  grid-column-end: 7;



}

.project-item-5{

  grid-column-start: 1;
  grid-column-end: 7;

}



@keyframes showProjects{from{top:100vh;} to{top:0;}}

main .projects-showcase .container .project-item{


  height:40vh;
  width:100%;
  background: none;
  background-size:100% 100%;
  position: relative;


}


main .projects-showcase .container .project-item .darkener{


  position: absolute;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.0);


}

main .projects-showcase .container .project-item:hover .darkener{

  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.7);

}

main .projects-showcase .container .project-item:hover h1{

  display: block;


}

main .projects-showcase .container .project-item:hover i{

  display: block;

}

main .projects-showcase .container .project-item h1{

  font-family: var(--little-font);
  opacity: 1;
  display: none;

}

@keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}


main .projects-showcase .container .project-item h1, .project-item i{


  position: absolute;
  bottom: 0;
  padding:0.8rem;
  color:white;
  text-shadow: 1px 2px black;
  animation-name:fadeIn;
  animation-duration: 0.5s;


 }

main .projects-showcase .container .project-item h1{font-size: 2rem;}

main .projects-showcase .container .project-item i{

  right:0;
  display: none;

}

main .projects-showcase .container .project-item i:hover{

  transition: 0.5s ease;
  color: MediumTurquoise;

}



@media(max-width:992px){


    main .header-showcase{

        grid-template-columns: 1fr;
        text-align: center;

      }

    main .projects-showcase .container .project-item h1, i{font-size: 1rem;}


}

@media(max-width:600px){






}


@media(min-width:320px){

  main .header-showcase .section-a h1{

    font-size: 2.5rem;

  }

  main .header-showcase .section-a p{

    font-size: 1.5rem;

  }

  main .projects-showcase .container{

    grid-template-columns: 1fr;

  }

  main .projects-showcase .container .project-item h1, .project-item i{

    font-size: 4rem;


  }

  main .projects-showcase .container .project-item h1{


    left:20px;
    font-size: 2.6rem;


  }

  main .projects-showcase .container .project-item i{


    bottom:1rem;
    right:0.5rem;


  }



 }

@media(min-width: 768px){



  main .header-showcase .section-a h1{

    font-size: 2.5rem;
    color:navy;

  }

  main .header-showcase .section-a p{

    font-size: 2rem;

  }

  main .projects-showcase .container{

    grid-template-columns: 1fr;

  }

  main .projects-showcase .container .project-item{

    height: 70vh;


  }

  main .projects-showcase .container .project-item h1, .project-item i{

    font-size: 4rem;

  }

  main .projects-showcase .container .project-item h1{


    left:20px;
    font-size: 1.7rem;


  }



}

@media(min-width: 1200px){

  main .projects-showcase .container{

    grid-template-columns: repeat(6, 1fr);


  }

  .project-item-1{

    height: 55vh !important;

  }

  .project-item-1, .project-item-2{

    height: 55vh !important;


  }

  .project-item-3, .project-item-4, .project-item-5{


    height: 40vh !important;


  }

  .project-item-1{

    grid-column-start: 1;
    grid-column-end: 4;


  }

  .project-item-2{

    grid-column-start: 4;
    grid-column-end: 7;


  }

  .project-item-3{

    grid-column-start: 1;
    grid-column-end: 3;



  }

  .project-item-4{

    grid-column-start: 3;
    grid-column-end: 5;



  }

  .project-item-5{

    grid-column-start: 5;
    grid-column-end: 7;


  }



}
