main{

  margin-left:5vw;
  margin-right:5vw;
  height:auto;

}

main .header-showcase{

  height:65vh;
  width: 100%;
  background: #F9F9F9 !important;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

main .header-showcase .caption{

  position: relative;
  top:25%;
  margin-left:5vw;
  margin-right:5vw;
  font-family: var(--main-font);
  height: 40vh;

}

main .header-showcase .section-a{background: none;}

main .header-showcase .section-a h1{

  font-weight: 800;
  position: relative;
  right:0;
  animation-name: slideIn;
  animation-duration: 1.5s;
  color:black;
  font-size:2.5rem;

}

@keyframes slideIn{
  from{
    right: 1000px;
  }
  to{
    right:0px;
  }
}

main .header-showcase .section-a p{

  position: relative;
  top:2.4rem;
  font-size: 1.3rem;
  font-family: var(--little-font);
  animation-name: showcaseSlide;
  animation-duration: 2.8s;

}

@keyframes showcaseSlide{
  from{
    top: 1000px;
  }
  to{
    top: 2.4rem;
  }
}

main .projects-showcase{


  height:auto;
  width:100%;
  background: #F9F9F9 !important;
  margin-bottom: 5vh;
  position: relative;


}

main .projects-showcase .container{


  height:auto;
  width:100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1.5rem;
  animation-name: showProjects;
  animation-duration: 2.4s;
  position: relative;


}

@keyframes showProjects{from{top:100vh;} to{top:0;}}

main .projects-showcase .container .project-item{


  height:40vh;
  width:100%;
  background: none;
  background-size:100% 100%;
  position: relative;


}

main .projects-showcase .container .project-item .darkener{


  position: absolute;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.0);


}

main .projects-showcase .container .project-item:hover .darkener{

  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.7);

}

main .projects-showcase .container .project-item:hover h1{

  display: block;


}

main .projects-showcase .container .project-item:hover i{

  display: block;

}

main .projects-showcase .container .project-item h1{

  font-family: var(--little-font);
  opacity: 1;
  display: none;

}

@keyframes fadeIn{from{opacity: 0;} to{opacity: 1;}}


main .projects-showcase .container .project-item h1, .project-item i{


  position: absolute;
  bottom: 0;
  padding:0.8rem;
  color:white;
  text-shadow: 1px 2px black;
  animation-name:fadeIn;
  animation-duration: 0.5s;


 }

main .projects-showcase .container .project-item h1{font-size: 2rem;}

main .projects-showcase .container .project-item i{

  right:0;
  display: none;

}

main .projects-showcase .container .project-item i:hover{

  transition: 0.5s ease;
  color: MediumTurquoise;

}



@media(max-width:992px){


    main .header-showcase{

        grid-template-columns: 1fr;
        text-align: center;

      }

    main .projects-showcase .container .project-item h1, i{font-size: 1rem;}


}

@media(max-width:600px){


    main .projects-showcase .container{grid-template-columns: 1fr;}

    main .header-showcase .section-a h1{font-size: 2.2rem;}

    main .header-showcase {

      grid-template-columns: 1fr;
      text-align: center;

    }

    main .header-showcase .section-a{

      position: relative;
      top:-50px;

    }

    main .projects-showcase .container .project-item h1{font-size: 1.4rem;}



}



/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { }

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

  main .header-showcase .section-a h1{

    font-size: 5.5rem;

  }

  main .header-showcase .section-a p{

    font-size: 4rem;

  }

  main .projects-showcase .container{

    grid-template-columns: 1fr;

  }

  main .projects-showcase .container .project-item h1, .project-item i{

    font-size: 8rem;

  }

  main .projects-showcase .container .project-item h1{


    left:20px;
    font-size: 4.6rem;
    

  }

  main .projects-showcase .container .project-item i{


    bottom:40px;
    right:20px;


  }



 }

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { }

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { }
