main{

  margin-left:5vw;
  margin-right:5vw;
  height:auto;



}

main .header-showcase{

  height:65vh;
  width: 100%;
  background: #F9F9F9 !important;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

main .header-showcase .caption{

  position: relative;
  top:35%;

}

main .header-showcase .section-a h1{




}

main .header-showcase .section-a p{

  position: relative;
  top:1.5rem;

}


main .projects-showcase{


  height:auto;
  width:100%;
  background: #F9F9F9 !important;
  margin-bottom: 5vh;


}

main .projects-showcase .container{


  height:auto;
  width:100%;
  background: yellow;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:1.5rem;


}

main .projects-showcase .container .project-item{

  height:40vh;
  width:100%;
  background: none;
  background-size:100% 100%;
  position: relative;

}

main .projects-showcase .container .project-item .darkener{

  position: absolute;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.0);

}

main .projects-showcase .container .project-item:hover .darkener{

  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.4);

}

main .projects-showcase .container .project-item h1, i{

  position: absolute;
  bottom: 0;
  padding:0.8rem;
  color:white;
  text-shadow: 1px 2px black;
  font-family: var(--main-font);

 }

 main .projects-showcase .container .project-item h1{font-size: 2rem;}

main .projects-showcase .container .project-item i{right:0;}

main .projects-showcase .container .project-item i:hover{

  transition: 0.5s ease;
  color: MediumTurquoise;

}








}







@media(max-width:992px){

  main .header-showcase{

    grid-template-columns: 1fr;
    text-align: center;

  }

  main .projects-showcase .container .project-item h1, i{font-size: 1rem;}


}

@media(max-width:600px){


main .projects-showcase .container{grid-template-columns: 1fr;}

main .header-showcase {grid-template-columns: 1fr; text-align: center;}

main .projects-showcase .container .project-item h1, i{font-size: 1.4rem;}





}
