@import url('navbar.css');
@import url('home.css');
@import url('footer.css');
@import url('about.css');
@import url('contact.css');
@import url('blog-listing.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


html, body{

  margin: 0;
  padding: 0;
  background: #F9F9F9 !important;
  height: auto;

}

:root{

  --main-font: 'Comfortaa', cursive;
  --little-font: 'Josefin Sans', sans-serif;

}

::-webkit-scrollbar {
    display: none;
}
