#navbar{

  height:auto;
  min-height:80px;
  background: none !important;

}

#navbar .navbar-nav{

  text-align: center;


}

#navbar .navbar-brand:hover{

  color:grey;
  transition: 0.8s ease;
}

#navbar ul li{font-family: var(--main-font);}

#navbar .navbar-brand, #navbar li{padding: 1.4rem;}

#navbar li a{letter-spacing: 1px;}

#navbar .active{

  color:grey;
  font-weight: 800;

}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { }

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

  #navbar .navbar-nav li a{

    font-size: 2.5rem;
    font-weight: 800;

  }


 }

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { }

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { }
