#navbar{

  height:auto;
  min-height:80px;
  background: none !important;

}

#navbar .navbar-nav{

  text-align: center;


}

#navbar .navbar-brand{

  height:150px;
  width:250px;

}

#navbar .navbar-brand img{

  height: 100%;
  width: 100%;
  border-radius: 50%;

}

#navbar .navbar-brand:hover{

  color:grey;
  transition: 0.8s ease;
}

#navbar ul li{font-family: var(--main-font);}

#navbar .navbar-brand, #navbar li{padding: 1.4rem;}

#navbar li a{letter-spacing: 1px;}

#navbar .active{

  color:black;
  font-weight: 800;

}

@media only screen and (min-device-width: 320px){

  #navbar .navbar-nav li a{

    font-size: 1rem;
    font-weight: 800;

  }


 }
