#navbar{

  height:auto;
  min-height:80px;
  background: none !important;

}

#navbar .navbar-nav{


  text-align: center;


}

#navbar .navbar-brand:hover{

  color: blue;
  transition: 0.8s ease;
}

#navbar ul li{font-family: var(--main-font);}

#navbar .navbar-brand, #navbar li{padding: 1.4rem;}

#navbar li a{letter-spacing: 1px;}

#navbar .active{

  color:navy;
  font-weight: 800;

}
